*{
    background-color: papayawhip;
}
body {
    margin:100px 0px; padding:0px;
    text-align:center;
}

label,input {
    display: block;    
    float: center;
 }
   
label {
    text-align:left;
}

   
br {
    clear: left;
}
#submit{
    padding-bottom: 5px;
}

.main {
    margin: auto;
    width: 50%;
    border: 2px solid grey;
    padding: 10px;
}