*{
    background-color: rgb(18, 18, 51);
}
body {
    margin:100px 0px; padding:0px;
    text-align:center;
    font-family: 'Merriweather', serif;
    color:aliceblue;
}
h1{
    font-weight: bolder;
}
.tool{
    margin: auto;
    width: 30%;
    border: 2px solid #55DAE8;
    padding: 10px;
    background-color:rgb(18, 18, 51);
}

label,input {
    display: block;
    float: inherit;
 }
 h4{
    float: left;
    font-weight: 600;
 }
label {
    text-align:left;
}


br {
    clear: left;
}
#submit{
    padding-bottom: 5px;
}

input[type=number] {
    padding:5px;
    margin:3px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.btn {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float:left;
}
